*{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #800000;
    color: rgb(0, 0, 0);
    height: 1vh;
    width: 100%;
    margin: auto;
    padding: 3vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 600;
}

.navbar ul li a:hover{
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.navbar ul li::after{
    content: '';
    height: 0.2vh;
    width: 0%;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.logo{
    height: 70px;
    margin-left: 10px;
} 

.donate-section {
    padding-top: 40px;
    padding-left: 160px;
    padding-right: 160px;
    text-align: center;
    background-color: black;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.donate-section-heading{
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: #800000;
    padding-bottom: 10px;
    font-weight: bolder;
}

.donate-section-para {
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: #800000;
    padding-bottom: 10px;
    font-style: italic;
}


.donation-options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.donation-container {
    background: #800000;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 10px;
}

.donation-button-1 {
    background-color:  rgb(0, 0, 0);
    border: none;
    margin-top: 17px;
    border-radius: 15px;
    height: 80px;
    width: 120px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(224, 99, 99);
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.donation-button-2 {
    background-color:  rgb(0, 0, 0);
    border: none;
    margin-top: 11px;
    border-radius: 15px;
    height: 90px;
    width: 120px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(217, 64, 64);
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.donation-button-3 {
    background-color:  rgb(0, 0, 0);
    border: none;
    margin-top: 5px;
    border-radius: 15px;
    height: 100px;
    width: 120px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(236, 4, 4);
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.donation-button-4 {
    background-color:  rgb(227, 19, 19);
    border: none;
    border-radius: 15px;
    height: 110px;
    width: 120px;
    font-size: 24px;
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.donation-button-1:hover {
    background-color:  rgb(180, 22, 22);
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    transform: scale(1.05);
}

.donation-button-2:hover {
    background-color:  rgb(180, 22, 22);
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    transform: scale(1.05);
}

.donation-button-3:hover {
    background-color:  rgb(180, 22, 22);
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    transform: scale(1.05);
}


#donation-button-custom {
    background: black;
    color: white;
    border-radius: 15px;
    font-size: 24px;
    max-width: 140px;
    width: 120px;
    border: 1.5px solid red;
    cursor: pointer;
}

#donation-button-custom:hover {
    background-color:  rgb(180, 22, 22);
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    transform: scale(1.05);
}

#custom-amount {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid #ccc;
    background-color: black;
    margin-right: 10px;
}

#custom-donation {
    padding-top: 10px;
    width: 260px;
}

#custom-donate-button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    border: 1.5px solid white;
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#custom-donate-button:hover {
    border: 1.5px solid #020202;
    background-color: #c51e1e;
    color: black;
    transition: 300ms;
    transform: scale(1.05);
}

.black-box-2{
    height: 60px;
    background-color: black;
}

.last-container{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 30px;
    align-items: center;
    padding-top: 20px;
    background-color: #800000;
    height: 180px;
}

.msa-logo {
    width: 180px;
}

.about {
    background-color: #800000;
    display: flexbox;
}

.about-header{
    font-family: Arial;
    font-size: 33px;
    color: white;
}

.about-text{
    margin-top: 10px;
    font-family: Arial;
    font-size: 18px;
    color: white;
}

.connect {
    display: flexbox;
    justify-content: space-between;
}

.contactHeading{
    font-family: Arial;
    font-size: 33px;
    color: white;
    padding-bottom: 10px;
}

.list li {
    display: flex;
    align-items: center;
}

ul{
    list-style-type: none;
}

.whatsapp{
    height: 25px;
    padding-bottom: 3px;
}

.numberLink{
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 14.5px;
}

.email{
    height: 21px;
    padding-bottom: 3px;
}

.emailLink{
    padding-left: 10px;
    color: white;
}

.location{
    height: 25px;
    padding-left: 5px;
    padding-bottom: 3px;
}

.locationLink{
    padding-left: 10px;
    color: white;
    font-size: 14.5px;
}